@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: white;
  --background-blue: rgb(184, 191, 212);
  --background-green: rgb(197, 237, 198);
}

.dark-theme {
  --foreground-rgb: white;
  --background-end-rgb: black;
  --background-blue: rgb(30, 58, 138);
  --background-green: rgb(18, 79, 20);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
}

.blue {
  background-color: var(--background-blue);
}

.green {
  background-color: var(--background-green);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  animation: appear-transform linear 0.8s;
}

main p {
  opacity: 0;
  animation: appear 2s linear 1.5s forwards;
}

.dark-theme img {
  filter: invert();
}

.image-animation {
  animation: vertical-transform linear 1s infinite;
}

@keyframes appear-transform {
  from {
    transform: translateX(-128px);
    opacity: 0.25;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes vertical-transform {
  from {
    transform: translateY(-16px);
  }
  to {
    transform: translateY(16px);
  }
}
