@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: white;
}

.dark-theme {
  --foreground-rgb: white;
  --background-end-rgb: black;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-end-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  animation: appear-transform linear 0.8s;
}

main p {
  opacity: 0;
  animation: appear 2s linear 1.5s forwards;
}

.dark-theme img {
  filter: invert();
}

@keyframes appear-transform {
  from {
    transform: translateX(-128px);
    opacity: 0.25;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
