@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-weight: 700;
  font-size: 32px;
  animation: appear-transform 0.8s linear 0.8s;
}

main p {
  opacity: 0;
  animation: appear 2s linear 1.5s forwards;
}

@keyframes appear-transform {
  from {
    transform: translateX(-128px);
    opacity: 0.25;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
